* {
    scroll-behavior: smooth;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    box-sizing: border-box;
    color: #dee6ec;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 60%;
    overflow: visible;
    background-image: url("assets/background1.jpg");
    background-color: #251d1d;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: cover;
}

.about-text {
    color: #dee6ec;
    background-color: black;
    font-size: 100%;
    text-align: center;
}

/* attributes */

.rainbow {
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(255, 123, 185), rgb(119, 235, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.white {
    color: #dee6ec;
}

.dark {
    color: #1f1a1a;
}

.blurry {
    backdrop-filter: blur(5px);
}

.light-bg {
    background-color: rgb(170, 164, 164, 0.15);
    backdrop-filter: blur(3px);
}

.white-bg {
    background-color: rgba(255, 248, 248, 0.5);
    backdrop-filter: blur(3px);
}


.dark-bg {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.rounded-corners {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}

.spacer {
    padding: 25%;
}

.icons {
    padding: 0;
    margin: 1% 5%;
}
